<h2> My information</h2>

<table>
    <tr>
        <td style="width:150px; vertical-align:top;">
            <img src="~/Image/me.png" width="140" height="180"/>
        </td>
        <td style="padding-left:20px;">
            <p>Name: Sinoxolo</p>
            <p>Surname: Sokoyi</p>
            <p> Student Number: 22579428</p>
        </td>
    </tr>
</table>

<br />

<h3> Steps followed</h3>
<ul>
    <li> Step 1:Added an image of myself in the Image folder.</li>
    <li> Step 2: Added the code to display my information in the Index.cshtml view.</li>
    <li> Step 3: Added the Suppliers model.</li>
    <li> Step 4: Updated the ProductRepository</li>
    <li> Step 5: Updated the ProductController.</li>
    <li> Step 6: Updated the ProductViewModel.</li>
    <li> Step 7: Updated the Index.cshtml view to display the suppliers .</li>
    <li> Step 8: Added the javaScript for supplier dropdown.</li>
    <li> Step 9: Added the javaScript for the serial textbox.</li>

</ul>

